.App {
  text-align: left;
}
.button1 {
margin-top: 40px;
margin-left: 140px;
padding: 10px;
background: #CF6F49;
color: #fff;
border: 1px solid #CF6F49;
border-radius: 6px;
}

.balls-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: space-around;
  max-width: 300px;
}